<div class="banner-messages">
  <div class="request-container">
    <div class="messages-cards booking-details">
      <strong><%= @messages.first.conversation.booking.item.name.capitalize %></strong>
      <div class="messages-cards request-avatar">
        <h3><strong class="owner-margin">Owner:</strong></h3>
        <%= cl_image_tag @messages.first.conversation.receiver.photo, class: "avatar-request-message" %>
        <h3><%= @messages.first.conversation.receiver.first_name %></h3>
      </div>
      <h3><strong class="duration-margin">Duration:</strong> <%= @messages.first.conversation.booking.days_range %> days (from <%= @messages.first.conversation.booking.start_date.strftime("%b %d, %Y") %> to <%= @messages.first.conversation.booking.end_date.strftime("%b %d, %Y") %>)</h3>
      <h3>
        <strong class="total-price-margin">Total price:</strong> £<%=  @messages.first.conversation.booking.item.rental_price_cents / 100 * @messages.first.conversation.booking.days_range %> (£<%= @messages.first.conversation.booking.item.rental_price_cents / 100 %> / day)
      </h3>
      <h3><strong class="status-margin">Status:</strong> <%= @messages.first.conversation.booking.status %></h3>
      <% if current_user ==  @messages.first.conversation.receiver %>
        <div class="accept-decline-btn-div">
          <%= link_to "accept", conversation_message_bookings_accept_path(@messages.first.conversation, @messages.first.id), class: "request-btn" %>
          <%= link_to "decline", conversation_message_bookings_decline_path(@messages.first.conversation, @messages.first.id), class: "request-btn-red" %>
        </div>
      <% end %>
    </div>
    <div class="request-photo">
      <%= link_to item_path(@messages.first.conversation.booking.item) do %>
        <div class="my-listing-card-image" style="background-image: url(<%= image_tag = @messages.first.conversation.booking.item.photo %>)">
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="container">
  <div class="request-msg-container">
    <div class="msg-container">
      <div class="message-box">
        <%= simple_form_for([@conversation, @message], remote: true) do |f| %>
          <%= f.text_area :content, placeholder: "Type here your message...", class: "message-content"%>
          <%= f.submit "Send", class: "input-btn-ontop btn-mess-margin" %>
        <% end %>
      </div>

      <% @all_mess = @messages.drop(1) %>

      <div id="message-bubble">
        <% @all_mess.reverse_each do |message| %>
          <% if message.user == current_user %>
            <div class="speech-bubble">
              <div class="avatar-message-div">
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
                <h3 class="text-center"><%= message.user.first_name %></h3>
              </div>
              <p><%= message.content%></p>
            </div>
          <% else %>
            <div class="speech-bubble-r">
              <p><%= message.content %></p>
              <div class="avatar-message-div">
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
                <h3 class="text-center"><%= message.user.first_name %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
