<div class="banner-messages">
  <!-- <h3 class="banner-messages-title">Chatbox</h3> -->
  <div class="request-container">



    <div class="messages-cards booking-details">
      <h3 class="messages-cards-h3"><%= @messages.first.conversation.booking.item.name %></h3>
      <div class="messages-cards request-avatar">

        <% if @messages.first.conversation.receiver.first_name == current_user.first_name %>
          <h3><strong class="owner-margin">Renter:</strong></h3>
          <div class="reference-position">
            <%= cl_image_tag @messages.first.conversation.sender.photo, class: "avatar-request-message" %>
            <p><%= @messages.first.conversation.sender.first_name %></p>
            <%= link_to "", user_path(@messages.first.conversation.sender), class: "user-profile-link" %>
          </div>

        <% else @messages.first.conversation.sender.first_name == current_user.first_name %>
          <h3 class="owner-margin messages-titles-h3">Owner:</h3>

          <div class="reference-position">
            <p><%= @messages.first.conversation.receiver.first_name %></p>
            <%= link_to "", user_path(@messages.first.conversation.receiver), class: "user-profile-link" %>
          </div>

          <div class="messages-avatar-picture">
            <%= cl_image_tag @messages.first.conversation.receiver.photo, class: "avatar-request-message" %>
          </div>

          <div class="messages-avatar-picture-two">
            <%= cl_image_tag @messages.first.conversation.sender.photo, class: "avatar-request-message" %>
          </div>

<!--           <div class="messages-avatar-picture-three">
            <i class="far fa-comment"></i>
          </div> -->

        <% end %>

      </div>


      <div class="messages-duration-box">
        <h3 class="duration-margin messages-titles-h3">Duration:</h3> 
        <h4> <%= @messages.first.conversation.booking.days_range %> days (from <%= @messages.first.conversation.booking.start_date.strftime("%b %d, %Y") %> to <%= @messages.first.conversation.booking.end_date.strftime("%b %d, %Y") %>)
        </h4>
      </div>

      <div class="messages-total-price-box">
        <h3 class="total-price-margin messages-titles-h3">Total price: </h3>
        <h4> £<%=  @messages.first.conversation.booking.item.rental_price_cents / 100 * @messages.first.conversation.booking.days_range %> (£<%= @messages.first.conversation.booking.item.rental_price_cents / 100 %> / day)
        </h4>
      </div>
      
      <div class="messages-status-box">  
        <h3 class="status-margin messages-titles-h3">Status: </h3>
        <h4> <%= @messages.first.conversation.booking.status %></h4>
      </div>  
      <% if current_user ==  @messages.first.conversation.receiver %>
        <div class="accept-decline-btn-div">
          <%= link_to "accept", conversation_message_bookings_accept_path(@messages.first.conversation, @messages.first.id), class: "request-btn" %>
          <%= link_to "decline", conversation_message_bookings_decline_path(@messages.first.conversation, @messages.first.id), class: "request-btn-red" %>
        </div>
      <% end %>
    </div>
    <div class="request-photo">
      <%= link_to item_path(@messages.first.conversation.booking.item) do %>
        <div class="my-listing-card-image" style="background-image: url(<%= image_tag = @messages.first.conversation.booking.item.photo %>)">
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="container">
  <div class="request-msg-container">
    <div class="msg-container">
      <div class="message-box">
        <%= simple_form_for([@conversation, @message], remote: true) do |f| %>
          <%= f.text_area :content, placeholder: "Type here your message...", class: "message-content"%>
          <%= f.submit "Send", class: "input-btn-ontop btn-mess-margin" %>
        <% end %>
      </div>

      <% @all_mess = @messages.drop(1) %>

      <div id="message-bubble">
        <% @all_mess.reverse_each do |message| %>
          <% if message.user == current_user %>
            <div class="speech-bubble">
              <div class="avatar-message-div">
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
                <h3 class="text-center"><%= message.user.first_name %></h3>
              </div>
              <p><%= message.content%></p>
            </div>
          <% else %>
            <div class="speech-bubble-r">
              <p><%= message.content %></p>
              <div class="avatar-message-div">
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
                <h3 class="text-center"><%= message.user.first_name %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
