<div class="container">
  <h2><%= @conversation.subject %></h2>

  <% @conversation.receipts_for(current_user).each do |receipt| %>
    <div>
      Sender: <%= receipt.message.sender.first_name %>
    </div>
    <div>
      Message: <%= receipt.message.body %>
    </div>
  <% end %>

  <%= form_tag conversation_messages_path(@conversation), method: :post do  %>
    <div>
      <%= text_area_tag :body, nil, placeholder: "reply" %>
    </div>
      <%= submit_tag "Send" %>
  <% end %>
</div>
