<div class="container">
  <h2>Update Booking</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="date_form">
        <%= simple_form_for([@item, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, order: [:day, :month, :year], input_html: { class: "form_style" }%>
          <%= f.input :end_date, as: :date, order: [:day, :month, :year],input_html: { class: "form_style" } %>
          <%= f.submit "update", class: "btn btn-primary btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="back_links">
<%= link_to "Back", items_path %>
</div>
