  <div class="container">

  <div class="items-div">
    <div class="my-booking-title">
      <h1>My Bookings</h1>
    </div>
  </div>

  <div class="items-and-calendar">
    <div class="flex-cards">
      <% count = 0 %>
      <% @bookings.each do |booking| %>
          <% count += 1 %>
          <% booking.counter = count %>
          <div class="card mw">
            <div class="item-counter text-center">
              <%= count %>
            </div>

            <%= link_to item_booking_path(booking.item, booking) do %>
              <div class="card-image" style="background-image: url(<%= image_tag = booking.item.photo %>)">
              </div>
            <% end %>
            <div class="card-description">
              <div class="name-and-rating">
                <div class="name-and-dates">
                  <h3><%= booking.item.name %></h3>
                  <p>From <%= booking.start_date.strftime("%d/%m") %> to <%= booking.end_date.strftime("%d/%m") %></p>
                </div>
                <div class="card-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="edit-and-calendar">
                <div class="remove-box">
                  <button data-toggle="modal" data-target="#edit-modal-<%= booking.id %>" class="fa fa-edit">
                  </button>
                </div>
                <div class="margin-of-card-edit">
                  <%= link_to item_booking_path(booking.item, booking), method: :delete do %>
                    <i class="fas fa-trash-alt delete-bin js-click"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="edit-modal-<%= booking.id %>" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Booking for <%= booking.item.name %></h5>
                </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="date_form">
                        <%= simple_form_for([booking.item, booking]) do |f| %>
                          <%= f.input :start_date, as: :date, order: [:day, :month, :year], input_html: { class: "form_style" }%>
                          <%= f.input :end_date, as: :date, order: [:day, :month, :year],input_html: { class: "form_style" } %>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "update", class: "btn-xs" %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

