<div class="container">
<h1>My bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card mw">
          <%= link_to item_path(booking.item) do %>
            <div class="card-image" style="background-image: url(<%= image_tag = booking.item.photo %>)"></div>
          <% end %>
          <div class="card-description">
            <h3><%= booking.item.name %></h3>
            <p>From <%= booking.start_date.strftime("%d/%m") %> to <%= booking.end_date.strftime("%d/%m") %></p>
          </div>
          <div class="card-rating">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
