<div class="container">
  <div>
    <h1>My bookings</h1>
  </div>

  <div class="container-flex">
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.item.photo %>');">
            <%= link_to item_booking_path(booking.item, booking)  do %>
            <%= booking.item.name %>
            <%= booking.start_date.strftime("%d/%m/%Y") %>
          <% end %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @bookings)  do |date, bookings| %>
    <%= date.day %>
      <% bookings.each do |booking| %>
      <div>
        <%= booking.item.name %>
      </div>
    <% end %>
  <% end %>

</div>
