  <div class="container">

  <div class="items-div">
    <div class="my-booking-title">
      <h1>My Bookings</h1>
    </div>
  </div>


  <div class="items-and-calendar">
    <div class="flex-cards">
      <% count = 0 %>
      <% @bookings.each do |booking| %>
          <% count += 1 %>
          <% booking.counter = count %>
          <div class="card mw">
            <div class="item-counter text-center">
              <%= count %>
            </div>
            <%= link_to item_path(booking.item) do %>
              <div class="card-image" style="background-image: url(<%= image_tag = booking.item.photo %>)">
              </div>
            <% end %>
            <div class="card-description">
              <div class="name-and-rating">
                <div class="name-and-dates">
                  <h3><%= booking.item.name %></h3>
                  <p>From <%= booking.start_date.strftime("%d/%m") %> to <%= booking.end_date.strftime("%d/%m") %></p>
                </div>
                <div class="card-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="edit-and-calendar">

                <button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModal-<%= booking.id %>">
                  <i data-calendar-id="<%= booking.id %>"class="far fa-calendar-plus"></i>

                </button>


                <div class="remove-box">
                  <button data-toggle="modal" data-target="#edit-modal-<%= booking.id %>" class="fa fa-edit">
                  </button>
                </div>
                <div class="margin-of-card-edit">
                  <%= link_to item_booking_path(booking.item, booking), method: :delete do %>
                    <i class="fas fa-trash-alt delete-bin js-click"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div id="edit-modal-<%= booking.id %>" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Booking for <%= booking.item.name %></h5>
                </div>


                  <div class="row">
                    <div class="col-xs-6">
                      <div class="date_form">


                        <%= simple_form_for([booking.item, booking]) do |f| %>
                          <%= f.input :start_date, as: :date, order: [:day, :month, :year], input_html: { class: "form_style" }%>
                          <%= f.input :end_date, as: :date, order: [:day, :month, :year],input_html: { class: "form_style" } %>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <%= f.submit "update", class: "btn-xs" %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>


        <div class="modal fade" id="exampleModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> <%= booking.item.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              <div class="calendar-my-listing">
                <div id="calendar">
                  <div>
                    <%= simple_form_for(@booking, url: user_bookings_path, method: :get) do |f| %>
                      <%= f.input :item, label: false, collection: @bookings, prompt: "Select item", input_html: { class: "hidden" } %>
                    <% end %>

                    <div class="calendar-container">
                      <div class="calendar">
                        <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: [booking])  do |date, bookings| %>
                          <%= date.day %>
                            <% bookings.each do |booking| %>
                            <div>
                              <%= booking.counter %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

      <% end %>
    </div>




  </div>
</div>


<script>
  const calendars = document.querySelectorAll('.js-click');
  let selectedCal = 0;
  calendars.forEach( function (calendar) {
    calendar.addEventListener("click", (event) =>  {
      selectedCal = calendar.dataset.calendarId;
      console.log(selectedCal)
      const form = document.getElementById('new_booking')
      const dropdown = document.getElementById('booking_item')
      dropdown.value = Number.parseInt(selectedCal)
      form.submit();
    });
  });
</script>
