<h2 class="new-booking-h2">New Booking</h2>
<div class="image-container">
  
  <div class="new-booking-calendar">
    <div class="bookings-dates-bar">
      <%= simple_form_for([@item, @booking]) do |f| %>
      <%= f.input :start_date, as: :date, order: [:day, :month, :year], input_html: {class: "booking-input-bar"} %>
    </div>
    <div class="bookings-dates-bar">
      <%= f.input :end_date, as: :date, order: [:day, :month, :year], input_html: {class: "booking-input-bar"} %>
    </div>  
      <div class="btn input-btn">
       <%= f.submit "Book", class: "btn input-btn-ontop" %>
      </div>
  </div>
      <% end %>

 <!--  <div> -->
    <div class="new-booking-image-card">
        <%= cl_image_tag @item.photo, class: "new-booking-image-card" %>
    </div>
<!--   </div>  --> 

</div>


<div class="back_links">
<%= link_to "Back", items_path, class: "new-booking-link" %>
</div>
