<div class="container">
  <h1>Bookings#new</h1>
  <p>Find me in app/views/bookings/new.html.erb</p>

<<<<<<< linking-booking
  <%= simple_form_for([@item, @booking]) do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.submit "add a booking", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", items_path %>
</div>
=======
<%= simple_form_for([@item, @booking]) do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "add booking", class: "btn btn-primary" %>
<% end %>
>>>>>>> master
