<div class="container-item-show">
  <div class="container-item-show">

      <div class="container-item-show">
        <div class="item-show-card" style="background-image: url('<%= cl_image_path @item.photo%>');">
        </div>
        <div class="booking-description">
          <div class="map_and_itemdescription">
            <div class="item-show-details">
              <div class="item-show-buying-renting" id:"item-show-p">
                <div class="owner-page">
                  <div><%= cl_image_tag @item.user.photo, class: "owner-avatar" %></div>
                  <div class="owner-page-link"><%= link_to "Owner Profile", user_path(@item.user) %></div>
                </div>

                <div class="booking-item-name">
                  <h1><%= @item.name %></h1>
                </div>
                <div class="item-description-booking">
                  <div class="remove-box-booking">
                    <button data-toggle="modal" data-target="#edit-modal-<%= @booking.id %>" class="fa fa-edit">
                    </button>
                  </div>
                  <div class="margin-of-card-edit">
                    <%= link_to item_path(@item), method: :delete do %>
                      <i class="fas fa-trash-alt delete-bin js-click"></i>
                    <% end %>
                  </div>
                  <div id="edit-modal-<%= @booking.id %>" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Booking for <%= @booking.item.name %></h5>
                        </div>
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="date_form">
                                <%= simple_form_for([@booking.item, @booking]) do |f| %>
                                  <%= f.input :start_date, as: :date, order: [:day, :month, :year], input_html: { class: "form_style" }%>
                                  <%= f.input :end_date, as: :date, order: [:day, :month, :year],input_html: { class: "form_style" } %>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "update", class: "btn-xs" %>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <p><strong>1. Booking period: </strong><%= @booking.start_date.strftime("%d/%m/%Y") %> - <%= @booking.end_date.strftime("%d/%m/%Y") %></p>
                <p> 2. Description: <%= @item.description %></p>
                <p> 3. Rental Price / Day : <%= humanized_money_with_symbol(@item.rental_price) %></p>
                <p> 4. Buying Price: <%= humanized_money_with_symbol(@item.buying_price) %></p>
                <p> 5. Size: <%= @item.size %></p>
                <p> 6. Color: <%= @item.color %></p>
              </div>

            </div>
          </div>
          <div class="item-show-links">
            <%= link_to 'back', items_path %>
          </div>
          <div class="map-border">
            <div id="map"
              style= "width: 100%;
              height: 300px;"
              data-markers="<%= @markers.to_json %>"
              data-userimage="<%= image_path('blue.png') %>">
              </div>
          </div>
        </div>
      </div>
  </div>
</div>


<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
  bookingTab = document.getElementById("booking-tab");
  buyingTab = document.getElementById("buying-tab");
  bookingBox = document.querySelector(".request-booking-box");
  buyingBox = document.querySelector(".request-buying-box");
  bookingTab.addEventListener("click", function() {
    // console.log("hello");
    bookingTab.classList.toggle("tabactive");
    buyingTab.classList.toggle("tabactive");
    if (bookingBox.classList.contains("hide-form")) {
      bookingBox.classList.remove("hide-form");
    } if (!buyingBox.classList.contains("hide-form")) {
      buyingBox.classList.add("hide-form");
    }
  });
  buyingTab.addEventListener("click", function() {
    bookingTab.classList.toggle("tabactive");
    buyingTab.classList.toggle("tabactive");
    if (buyingBox.classList.contains("hide-form")) {
      buyingBox.classList.remove("hide-form");
    } if (!bookingBox.classList.contains("hide-form")) {
      bookingBox.classList.add("hide-form");
    }
  });
</script>

<%= javascript_pack_tag "flatpickr" %>
