<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><i class="fas fa-user-alt"></i> Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false"><i class="fas fa-book"></i> Activity</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="container">
      <h1>Welcome <%= current_user.first_name %></h1>
      <div class="edit-user">
        <h2 class="page-header">Edit Profile</h2>
        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
          <div class="details-container">
            <div class="edit-user-name-and-email">
              <%= f.input :first_name, input_html: {class: "input-bar"} %>
              <%= f.input :last_name, input_html: {class: "input-bar"}%>
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "input-bar"} %>
              <%= f.input :address, required: false, input_html: {class: "input-bar"}%>
            </div>
            <div class="edit-user-address">
              <%= f.input :phone_number, input_html: {class: "input-bar"}%>
              <%= f.input :age, required: false, input_html: {class: "input-bar"} %>
              <%= f.input :gender, input_html: {class: "input-bar"}%>
              <%= f.input :id_document, required: false, input_html: {class: "input-bar"} %>
            </div>
            <div class="edit-user-address">
              <%= image_tag "https://images.pexels.com/photos/914664/pexels-photo-914664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "sign-up-image"%>
            </div>
          </div>

          <div class="details-container-two">
            <input type="submit" name="commit" value="Update" input_html="{&quot;class&quot;=>&quot;btn input-btn&quot;}" class="input-btn-ontop" data-disable-with="Update">
          </div>
        <% end %>
        <p><%= link_to "Back", :back, input_html: {class: "back-link"} %></p>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="activity" role="tabpanel" aria-labelledby="activity-tab">
    <div class="container">
      <h1>Welcome <%= current_user.first_name %></h1>
      <div class="activity_overview">
        <h2 class="page-header">Activity Overview</h2>
          <div class="edit-user-name-and-email">
            <p>Booker</p>
            <p>Lister</p>
          </div>
          <%= image_tag "https://images.pexels.com/photos/102303/pexels-photo-102303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "sign-up-image"%>
      </div>
        <p><%= link_to "Back", :back, input_html: {class: "back-link"} %></p>
    </div>
  </div>
</div>
