<div class="edit-user-page-container">
  
  <dir class="edit-user-profile-menu">
    <!--PROFILE TAB-->
    <div class="profile-menu-edit-user-profile-tab" id="id-edit-user-profile-tab">
      <p>Edit Profile</p>
    </div>  

    <!--ACTIVITY OVERVIEW TAB -->
    <div class="profile-menu-edit-user-activity-overview-tab" id="id-edit-user-activity-overview-tab">
      <p>Activity Overview</p>
    </div> 

        <!--Change the class and ID -->
    <div class="" id="about-you-tab">
      <p>About You</p>
    </div> 


  </dir>

  <div class="edit-user-menu-items">
    
    <!--Profile Tab -->
    <div class="edit-user-profile-tab">

      <div class="edit-user" id="euid">
        <div>
          <h2 class="page-header">Edit Profile</h2>
          <%= simple_form_for(@user) do |f| %>
            <%= f.error_notification %>
            <div class="details-container">

              <div class="edit-user-name-and-email">
                <%= f.input :first_name, input_html: {class: "input-bar"} %>
                <%= f.input :last_name, input_html: {class: "input-bar"}%>
                <%= f.input :email, required: true, autofocus: true, input_html: {class: "input-bar"} %>
                <%= f.input :address, required: false, input_html: {class: "input-bar"}%>
              </div>

              <div class="edit-user-address">
                <%= f.input :phone_number, input_html: {class: "input-bar"}%>
                <%= f.input :age, required: false, input_html: {class: "input-bar"} %>
                <%= f.input :gender, input_html: {class: "input-bar"}%>
                <%= f.input :id_document, required: false, input_html: {class: "input-bar"} %>
                <%= f.input :photo, input_html: { class: "input-bar" } %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>        
            </div>  
        </div>

        <div class="details-container-two">
            <input type="submit" name="commit" value="Update" input_html="{&quot;class&quot;=>&quot;btn input-btn&quot;}" class="input-btn-ontop" data-disable-with="Update">
        </div>
        <% end %>
        <p><%= link_to "Back", :back, input_html: {class: "back-link"} %></p>

      </div>   
    </div>
    
    <!--Activity Overview -->
    <div class="edit-user-activity-overview-tab" id="actid">
      <div class="activity-overview eu-hide-form">
        <h2 class="page-header">Activity Overview</h2>
          <div class="edit-user-name-and-email">
            <p>Booker</p>
            <p>Lister</p>
          </div>  
      </div>
    </div>

        <!--About You -->
    <div class="edit-user-activity-overview-tab" id="abyid">
      <div class="">
        <h2 class="">About You</h2>
        <div class="">
          <%= simple_form_for(@user) do |f| %>
            <%= f.error_notification %>
              <div class="details-container">
                <div class="edit-user-name-and-email">

                  <p> Please give us a small description of you so other users know how awesome you are </p>
                  <%= f.input :description, length: 80, input_html: {class: "description-input-bar"} %>

                  <p> Where are you located? </p>
                  <%= f.input :city, input_html: {class: "input-bar"}%>
                  <%= f.input :country, :as => :select, collection: ["Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegowina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "France Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao, People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, The Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Heebo", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia (Slovak Republic)", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "St. Helena", "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbard and Jan Mayen Islands", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe"], input_html: {class: "input-bar"}%>
                </div>     
              </div>  
            </div>
            <div class="details-container-two">
              <input type="submit" name="commit" value="Update" input_html="{&quot;class&quot;=>&quot;btn input-btn&quot;}" class="input-btn-ontop" data-disable-with="Update">
            </div>
          <% end %>
        </div>  
      </div>
    </div>
  </div> 
</div>

<script>
  editProfileTab = document.getElementById("id-edit-user-profile-tab");
  activitiesTab = document.getElementById("id-edit-user-activity-overview-tab");
  aboutYouTab = document.getElementById("about-you-tab");
  editProfileBox = document.getElementById("euid");
  activitiesBox = document.getElementById("actid");
  aboutYouBox = document.getElementById("abyid");
 
  editProfileTab.addEventListener("click", function() {
    // console.log("hello");
    editProfileTab.classList.add("underline")
    activitiesTab.classList.remove("underline")
    aboutYouTab.classList.remove("underline")
    editProfileBox.style.display = "block"
    activitiesBox.style.display = "none"
    aboutYouBox.style.display = "none"
  
  });
  activitiesTab.addEventListener("click", function() {
    editProfileTab.classList.remove("underline")
    activitiesTab.classList.add("underline")
    aboutYouTab.classList.remove("underline")
    aboutYouBox.style.display = "none"
    activitiesBox.style.display = "block"
    editProfileBox.style.display = "none"
  });  
  aboutYouTab.addEventListener("click", function() {
    aboutYouTab.classList.add("underline")
    editProfileTab.classList.remove("underline")
    activitiesTab.classList.remove("underline")
    aboutYouBox.style.display = "block"
    activitiesBox.style.display = "none"
    editProfileBox.style.display = "none"
  });  

</script>