<!-- User Show Profile Page -->

<div class="user-show-container">

	<!-- Profile Details Rating and Comments -->
	<div class="user-show-profile-details">

		<div class="user-show-avatar-box">
			<%= cl_image_tag @user.photo, class: "user-show-avatar"%>
		</div>

		<div class="user-show-details-box">


			<div class="user-show-names-box">
				<h3><%= @user.first_name %> <%= @user.last_name %></h3>
				<h3><strong><%= @user.address.split(",")[1] %></strong>, <%=  @user.address.split(",")[2] %></h3>	
			</div>

			<div class="user-show-ratings-box">
				<h3>Overall Rating:
				<% @user.average_rating.times do %>
				<i class="fas fa-star icon-stars"></i>
				<% end %> </h3>
			</div>

			<div class="user-show-description">
				<p><strong>Bio: </strong><%= @user.description %></p>
			</div>

			<div class="user-show-description">
				<p><strong>Current Listings: </strong> <%= @user.items.count %></p>
				<p><strong>Items Currently Available:</strong>	 <%= @available_items %></p>
			</div>

		</div>

	</div>

	<!-- Iteration of Items -->
	<div class="user-show-items">

		<!-- MOST POPULAR ITEMS -->
		<h2 class="page-header">Most Popular</h2>
		<div class="cards-container">
		  <% @user.items.first(6).each do |item| %>
		    <div class="card">
		        <%= link_to item_path(item.id) do %>
		          <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
		        <% end %>
		        <div class="card-description">
		          <h3><%= item.name %></h3>
		          <p> <strong>Rent per day: <%= humanized_money_with_symbol(item.rental_price) %></strong>    Buy it for: <%= humanized_money_with_symbol(item.buying_price) %></p>
		        <div>
		        <% item.average_rating.times do %>
		        <i class="fas fa-star icon-stars"></i> 
		        <% end %>
		          <i class="fas fa-comments icon-comments"> <%= item.total_reviews %></i>
		        </div>
		        </div>
		    </div>
		  <% end %>
		</div>


		<h2 class="page-header-h2">Current Listings</h2>
		<div class="cards-container">
		  <% @user.items.last(6).each do |item| %>
		    <div class="card">
		        <%= link_to item_path(item.id) do %>
		          <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
		        <% end %>
		        <div class="card-description">
		          <h3><%= item.name %></h3>
		          <p> <strong>Rent per day: <%= humanized_money_with_symbol(item.rental_price) %></strong>    Buy it for: <%= humanized_money_with_symbol(item.buying_price) %></p>
		          <p>This is the rating and comments</p>
		        </div>
		        <div class="card-rating">
		        </div>
		    </div>
		  <% end %>
		</div>

	<!-- END OF USER SHOW ITEMS -->
	</div>

</div>













