<ul class="nav nav-tabs">
  <li class="active dashboard-link"><a data-toggle="tab" href="#dash">Dashboard</a></li>
  <li class="dashboard-link"><a data-toggle="tab" href="#book">Bookings</a></li>
  <li class="dashboard-link"><a data-toggle="tab" href="#list">Listings</a></li>
  <li class="dashboard-link"><a data-toggle="tab" href="#profile">Profile</a></li>
  <li class="dashboard-link" id="show-calendar-tab"><a data-toggle="tab" href="#calendar">Calendar</a></li>
</ul>






<div class="tab-content">
  <div id="dash" class="tab-pane fade in active">
    <div class="container-landing-page">
      <h1>Welcome <%= current_user.first_name %></h1>
      <div class ="flex-landing-page">
        <div>
          <h2>What would you like to do?</h2>
          <p>view all listings</p>
          <p>current orders</p>
          <p>order history</p>
          <p>ID verification</p>
        </div>


        <div class="activity_overview">
          <div>
            <h2>Activity overview</h2>
            <p>Revenues: "May"</p>
            <p>Listing reviewed/30 days: "50"</p>
            <p>Overall rating: "4.5*"</p>
            <p>Total reviews: "22"</p>
            <p>5 star reviews: "80%"</p>
          </div>

          <div>
            <h2>Share your passion for renting</h2>
            <p>Refer a friend and get £45 when they rent there first item</p>

            <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Refer a friend
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Refer a friend</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Share and get £45</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="book" class="tab-pane fade">
    <div class="container">
      <h1>My items to rent</h1>
      <div class="row">
        <% @items_listing.each do |item| %>
          <div class="col-xs-12 col-sm-4" style="margin-bottom: 20px;">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.photo%>');">
              <div class="card-description">
                <h2><%= link_to item.name, item_path(item) %></h2>
              </div>
              <%= link_to 'edit', edit_item_path(item) %>
              <%= link_to 'delete', item_path(item), method: :delete %>
            </div>
            <div class="listing-status">
              <p>Availability:</p>
              <% if @available_items.include?(item) %>
                <p class="grey">Pending</p>
                <p class="grey">Booked</p>
                <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
              <% elsif @pending_items.include?(item) %>
                <p class="orange">Pending</p>
                <p class="grey">Booked</p>
                <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>"class="fa fa-calendar-alt js-click"></i></a>
              <% elsif @accepted_items.include?(item) %>
                <p class="grey">Pending</p>
                <p class="green">Booked</p>
                <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
              <% elsif @pendingandbooked.include?(item) %>
                <p class="orange">Pending</p>
                <p class="green">Booked</p>
                <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <%= link_to 'add an item', new_item_path(@item) %>
  </div>

  <div id="list" class="tab-pane fade">
    <div class="container">
      <h1>My items to rent</h1>
      <div class="row">
        <% @items.each do |item| %>
          <% if item.user == current_user %>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 20px;">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.photo%>');">
                <div class="card-description">
                  <h2><%= link_to item.name, item_path(item) %></h2>
                </div>
                <%= link_to 'edit', edit_item_path(item) %>
                <%= link_to 'delete', item_path(item), method: :delete %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to 'add an item', new_item_path(@item) %>
  </div>

  <div id="profile" class="tab-pane fade">
    <div class="container-profile-page">
      <h1>Welcome <%= current_user.first_name %></h1>

        <div class ="flex-landing-page">
          <div>
            <h2>Personal details</h2>
            <p>First name: <%= @user.first_name %></p>
            <p>First name: <%= @user.email %></p>
            <p>Last name: <%= @user.last_name %></p>
            <p>Address: <%= @user.address %></p>
            <p>Phone number: <%= @user.phone_number %></p>
            <p>city: <%= @user.city %></p>
            <p>Age: <%= @user.age %></p>
            <p>Gender: <%= @user.gender %></p>
          </div>


          <div class="activity_overview">
            <div>
              <h2>Share your passion for renting</h2>
              <p>Refer a friend and get £45 when they rent there first item</p>
              <span class="button">Refer a friend</span>
            </div>
          </div>
        </div>

    </div>
  </div>

  <div id="calendar" class="tab-pane fade">
    <div class="calendar-page-container">
      <div>
        <div class="drop-down-see-item">
          <div>

            <div class="dropdown">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown trigger
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <% @items_listing.each do |item| %>
                  <li><a class="dropdown-item" href="#"><%= item.name %></a></li>
                <% end %>
              </ul>
            </div>

          </div>
          <div>
            <h3>See item</h3>
          </div>
        </div>
        <div class="calendar-container">
          <div class="calendar">
            <%= month_calendar(attribute: :start_date, end_attribute: :end_date)  do |date, bookings| %>
              <%= date.day %>
                <% bookings.each do |booking| %>
                <div>
                  <%= booking.item.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h3>Increase revenues from rentals</h2>
      </div>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'dashboard' %>
