<!-- Landing Page -->


  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/114820/pexels-photo-114820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="banner-content">
      <h1>rent something that means something </h1>
      <a class="meet-ufo btn btn-primary btn-sm">meet UFO</a>
    </div>
  </div>



<div class="container">

  <div class="row">
    <h2>Just In</h2>

    <% @items.first(4).each do |item| %>
    <div class="col-xs-6 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_tag = item.photo %>');">
        <div class="card-category"></div>
        <div class="card-description">
            <h2><%= item.name %></h2>
            <p><%= item.name %></p>
        </div>
            <i class="fas fa-plus"></i>
            <%= link_to '', item_path(item), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>


<div class="row">
    <h2>Most Popular</h2>

    <% @items.first(4).each do |item| %>
    <div class="col-xs-6 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_tag = item.photo %>');">
        <div class="card-category"></div>
        <div class="card-description">
            <h2><%= item.name %></h2>
            <p><%= item.name %></p>
        </div>
            <i class="fas fa-plus"></i>
            <%= link_to '', item_path(item), class:"card-link" %>
        </div>
    </div>
    <% end %>
  </div>
  <div>
    <h2>Top Influencer's</h2>
    <div class="influencer-align">
      <% @items.first(8).each do |item| %>
        <!-- insert <div class="card"> -->
        <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_tag = item.photo %>');">
          <div class="influencer-card-category"></div>
          <div class="influencer-card-description">
            <h2><%= item.name %></h2>
            <p><%= item.name %></p>
          </div>
            <i class="fas fa-plus"></i>
            <%= link_to '', item_path(item), class:"card-link" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="info-banner">
    <div class="info-header">
    <div>
      <%= image_tag("https://images.pexels.com/photos/46244/girl-portrait-carnival-retro-46244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", class:"info-picture" ) %>
    </div>
    <div class="info-text">
      <h2>Find Out How Much your could earn uploading your items</h2>
      <h2>Turn your extra sapce into extra income</h2>
      <div class="secondary-btn">
        <p>Find Out More</p>
      </div>
    </div>
    </div>
  </div>

<div class="row">
    <h2>Most Popular Group</h2>

    <% @items.first(3).each do |item| %>
    <div class="col-xs-4 col-sm-4 ">
      <div class="group-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_tag = item.photo %>');">
        <div class="card-category"></div>
        <div class="card-description">
            <h2><%= item.name %></h2>
            <p><%= item.name %></p>
        </div>
            <i class="fas fa-plus"></i>
            <%= link_to '', item_path(item), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="info-banner" id="how-it-works">
    <div class="works-text">
      <h2>How it Works</h2>
      <div class="secondary-btn">
        <p>Find Out More</p>
      </div>
    </div>
    </div>
  </div>

  </div>
</div>
