<!-- Landing Page -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/175696/pexels-photo-175696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="banner-content">
      <h1><span id="banner-typed-text"></span></h1>
     <%#= form_tag items_path, method: :get, class: "form-inline" do %>
        <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "What item?" %>
        <%#= text_field_tag :place, params[:place], class: "form-control", placeholder: "Where?" %>
        <!-- <input type="hidden" name="location" value="<%= @location.empty? ? 'London' : @location %>"> -->
        <%#= submit_tag :submit, class: "hidden" %>
     <%# end %>
    </div>
  </div>
</div>


<div class="container">


  <h2 class="page-header-h2">Just In</h2>
  <div class="cards-container">
    <% @items.first(4).each do |item| %>
      <div class="card">
          <%= link_to item_path(item.id) do %>
            <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
          <% end %>
          <div class="card-description">
            <h3><%= item.name %></h3>
            <p> <strong>Rent per day: $<%= item.rental_price %></strong>    Buy it for: $<%= item.buying_price %></p>
            <p>This is the rating and comments</p>
          </div>
          <div class="card-rating">
          </div>
      </div>
    <% end %>
  </div>

  <h2 class="page-header">Most Popular</h2>
  <div class="cards-container">
    <% @items.first(4).each do |item| %>
      <div class="card">
          <%= link_to item_path(item.id) do %>
            <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
          <% end %>
          <div class="card-description">
            <h3><%= item.name %></h3>
            <p> <strong>Rent per day: $<%= item.rental_price %></strong>    Buy it for: $<%= item.buying_price %></p>
            <p>This is the rating and comments</p>
          </div>
          <div class="card-rating">
          </div>
      </div>
    <% end %>
  </div>


  <h2 class="page-header">Top Influencer's</h2>
  <div class="cards-container">
    <% @items.first(5).each do |item| %>
      <div class="card">
          <%= link_to item_path(item.id) do %>
            <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
          <% end %>
          <div class="card-description">
            <h3>Influencer's Name</h3>
            <p>PARIS, France</p>
            <p>In here we will give a brief summary of the influencer's style and whatever.</p>
          </div>
          <div class="card-rating">
          </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="info-banner">
    <%= image_tag("https://images.pexels.com/photos/46244/girl-portrait-carnival-retro-46244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", class:"info-banner-picture" ) %>
    <div class="info-text">
            <h3>Find Out How Much your could earn uploading your items</h3>
            <h4>Turn your extra space into extra income</h4>
            <a class="btn info-banner-button">Find out More</a>
    </div>
  </div>

  <br>
  <h2 class="page-header">Popular Groups</h2>
  <div class="cards-container">
    <% @items.first(5).each do |item| %>
      <div class="card">
          <%= link_to item_path(item.id) do %>
            <div class="card-image" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
          <% end %>
          <div class="card-description">
            <h3>Group Name</h3>
            <p>In here we will put a brief description of the groups and what they will be offering to the public. We should put in the top right corner if they are free to join or by request.</p>
          </div>
          <div class="card-rating">
          </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/688656/pexels-photo-688656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="banner-content">
      <h1>How it Works </h1>
      <a class="btn gray-button">In here</a>
    </div>
  </div>


</div>
<br>
<br>
