<div class="container-profile-page">
  <h1>Welcome <%= current_user.first_name %></h1>

  <div class ="flex-landing-page">
    <div>
      <h2>Personal details</h2>
      <p>First name: <%= @user.first_name %></p>
      <p>First name: <%= @user.email %></p>
      <p>Last name: <%= @user.last_name %></p>
      <p>Address: <%= @user.address %></p>
      <p>Phone number: <%= @user.phone_number %></p>
      <p>city: <%= @user.city %></p>
      <p>Age: <%= @user.age %></p>
      <p>Gender: <%= @user.gender %></p>
    </div>


    <div class="activity_overview">
      <div>
        <h2>Share your passion for renting</h2>
        <p>Refer a friend and get £45 when they rent there first item</p>
        <span class="button">Refer a friend</span>
      </div>
    </div>
  </div>
</div>

