<h1> <%= @user.first_name %> profile</h1>
<h3>First name: <%= @user.first_name %></h3>
<h3>First name: <%= @user.email %></h3>
<h3>Last name: <%= @user.last_name %></h3>
<h3>Address: <%= @user.address %></h3>
<h3>Phone number: <%= @user.phone_number %></h3>
<h3>city: <%= @user.city %></h3>
<h3>Age: <%= @user.age %></h3>
<h3>Gender: <%= @user.gender %></h3>





