<div class="container">

  <div class="items-div">
    <div class="my-listing-title">
      <h1>My items to rent</h1>
    </div>
    <div class="row add-item">
      <%= link_to 'add an item', new_item_path(@item)%>
    </div>
  </div>


  <div class="items-and-calendar">




    <div class="row">
      <% @items.each do |item| %>
        <% if item.user == current_user %>
          <div class="col-xs-12 col-sm-4">
            <div class="card mw">
              <%= link_to item_path(item) do %>
                <div class="my-listing-card-image" style="background-image: url(<%= image_tag = item.photo %>)">
                </div>
              <% end %>
              <div class="card-description">
                <h3><%= item.name %></h3>
                <p> <strong>Rent per day: $<%= item.rental_price %></strong>    Buy it for: $<%= item.buying_price %></p>
                <p>This is the rating and comments</p>
              </div>

              <div class="listing-status">
                <div>
                  <p class="listing-status-items">Availability:</p>
                </div>

                <% if @available_items.include?(item) %>
                  <div class="item-status"><p class="grey listing-status-items">Pending</p></div>
                  <div class="item-status"><p class="grey listing-status-items">Booked</p></div>
                  <div class="calendar-div"><a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a></div>

                <% elsif @pending_items.include?(item) %>
                  <div class="item-status"><p class="orange listing-status-items">Pending</p></div>
                  <div class="item-status"><p class="grey listing-status-items">Booked</p></div>
                  <div class="calendar-div"><a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>"class="fa fa-calendar-alt js-click"></i></a></div>

                <% elsif @accepted_items.include?(item) %>
                  <div class="item-status"><p class="grey listing-status-items">Pending</p></div>
                  <div class="item-status"><p class="green listing-status-items">Booked</p></div>
                  <div class="calendar-div"><a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a></div>

                <% elsif @pendingandbooked.include?(item) %>
                  <div class="item-status"><p class="orange listing-status-items">Pending</p></div>
                  <div class="item-status"><p class="green listing-status-items">Booked</p></div>
                  <div class="calendar-div"><a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a></div>

                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>


    <div class="calendar-my-listing">
      <div id="calendar">
        <div>
          <%= simple_form_for(@item, url: user_listing_path, method: :get) do |f| %>
            <%= f.input :name, collection: @user_items %>
          <% end %>

          <div class="calendar-container">
            <div class="calendar">
              <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @bookings)  do |date, bookings| %>
                <%= date.day %>
                  <% bookings.each do |booking| %>
                  <div>
                    <%= booking.item.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
  const form = document.getElementById('new_item')
  const dropdown = document.getElementById('item_name')
  dropdown.addEventListener('change', (event) => {
    form.submit();
  })
</script>
