<div class="container">
  <h1>My items to rent</h1>
  <div class="row">
    <% @items.each do |item| %>
      <% if item.user == current_user %>
        <div class="col-xs-12 col-sm-4" style="margin-bottom: 20px;">
          <div class="card mw">
            <%= link_to item_path(item) do %>
              <div class="card-image" style="background-image: url(<%= image_tag = item.photo %>)"></div>
            <% end %>
            <div class="card-description">
              <h3><%= link_to item.name, item_path(item), class: "name-item" %></h3>
            </div>
            <div class="card-rating">
            </div>
          </div>

      <div class="listing-status">
        <p class="listing-status-items">Availability:</p>
        <% if @available_items.include?(item) %>
          <p class="grey listing-status-items">Pending</p>
          <p class="grey listing-status-items">Booked</p>
          <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
        <% elsif @pending_items.include?(item) %>
          <p class="orange listing-status-items">Pending</p>
          <p class="grey listing-status-items">Booked</p>
          <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>"class="fa fa-calendar-alt js-click"></i></a>
        <% elsif @accepted_items.include?(item) %>
          <p class="grey listing-status-items">Pending</p>
          <p class="green listing-status-items">Booked</p>
          <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
        <% elsif @pendingandbooked.include?(item) %>
          <p class="orange listing-status-items">Pending</p>
          <p class="green listing-status-items">Booked</p>
          <a data-toggle="tab" href="#calendar"><i data-calendar-id="<%= item.id %>" class="fa fa-calendar-alt js-click"></i></a>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to 'add an item', new_item_path(@item)%>
  </div>
</div>
