<!-- app/views/payments/new.html.erb -->

<div class="payment-summary-container">
    <div class="payment-summary-box">
      <h1 class="payments-summary-h1">Your Purchase Summary <%= @order.item_sku %></h1>
    <div class="payment-summary-details">
      <div class="user-details">
        <h1 class="payments-summary-h2"><i class="fas fa-tshirt"></i> Product Information:</h1>
        <p>* Please review your order before submitting payment</p>
        <p>1. Your Item: <%= @order.item.name %> </p>
        <p>2. Description: <%= @order.item.description %></p>
        <p>3. Size: <%= @order.item.size.capitalize %></p>
        <!-- <p>2. Item Sku: <%#= @order.item.sku %></p> -->
      </div>

      <div class="payment-details">
        <h1 class="payments-summary-h2"> <i class="fas fa-user"></i> User Details:</h1>
        <p>*Please review your details before submitting payment</p>
        <p>1. First Name:<em><%= @order.user.first_name %></em> </p>
        <p>2. Last Name: <em><%= @order.user.last_name %></em></p>
        <p>3. Mobile Number: <em><%= @order.user.phone_number %></em></p>
        <p>4. Your Address:<em> <%= @order.user.address %></em></p>
        <p>5. Your Email: <em> <%= @order.user.email %></em></p>
      </div>

      <div class="payment-info">
        <h1 class="payments-summary-h2"> <i class="fas fa-money-bill-alt"></i> Amount to Pay:</h1>
        <p> 1. Item Price:<%= humanized_money_with_symbol(@order.item.buying_price) %></p>
        <p> 2. Additional Costs: </p>
          <% if @order.shipping  %>
        <p style="color: red; font-size: 9px;">*Shipping Cost:  £<%= @shipping_cost %></p>
        <% else %>
          <p style="color: red; font-size: 9px;" class="additional-costs">*No Shipping Included</p>
        <% end %>

        <% if @order.dry_cleaning  %>
          <p style="color: red; font-size: 9px">*Dry Cleaning: £<%= @dry_cleaning_cost %></p>
        <% else %>
          <p style="color: red; font-size: 9px" class="additional-costs">*No Dry Clean Included</p>
        <% end %>
        

        <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <p style="font-weight: bold">3. Total Amount to Pay:  <%= humanized_money_with_symbol(@order.amount) %></p>
          </label>
        </article>
        <br>
        <!-- # Commented for the lecture, remove comments. -->
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Order"
          data-email="<%= current_user.email %>"
          data-description="Item <%= @order.item_sku %>"
          data-amount="<%= @order.amount_cents %>"
          data-currency="<%= @order.amount.currency %>">    
         </script>
        
        <% end %>
      

      </div>

    </div>
  </div>
</div>