<% items.each do |item| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card-image-results">
      <%= link_to item_path(item.id) do %>
        <div class="card-image-index" style="background-image: url(<%= cl_image_path item.photo %>)"></div>
      <% end %>
      <div class="results-card-description">
        <p class="margin-item-results-rent-price"> <strong>Rent per day: <%= humanized_money_with_symbol(item.rental_price) %></strong></p>
        <p>Sell: <%= humanized_money_with_symbol(item.buying_price) %></p>
      </div>
        <div class="item-results-ratings">
        <% item.average_rating.times do %>
        <i class="fas fa-star icon-stars"></i>
        <% end %>
          <i class="fas fa-comments icon-comments"> <%= item.total_reviews %></i>
        </div>
    </div>
  </div>
<% end %>
