<div class="container-results-main">
  <div class="container-min-height" style="min-height: 700px">

    <%= simple_form_for @item, url: items_path, remote: true, method: :get, html: { class: 'form-inline' } do |f| %>
      <%= f.error_notification %>
      <%= f.input :size, collection: @sizes, label: false, include_blank: "Size", input_html: {class: 'filter-btn'} %>
      <%= f.input :buying_price, collection: @prices, label: false, include_blank: "Buying Price", input_html: {class: 'filter-btn'} %>
      <%= f.input :rental_price, collection: @prices, label: false, include_blank: "Rental Price", input_html: {class: 'filter-btn'} %>
      <%= f.input :color, collection: @colors, label: false, include_blank: "Colour", input_html: {class: 'filter-btn'} %>
      <%= f.submit "Apply", id: "filter-button" %>
    <% end %>

  <!-- 1) Cards -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div id="results">
          <%= render 'card_results', items: @items %>
        </div>
      </div>
      <!-- 2) Map -->
      <div class="col-xs-12 col-sm-5 map-index hidden-xs items-results-map">
        <div id="map" style= "width: 93%; height: 590px;" data-markers="<%= @markers.to_json %>"></div>
      <div class="col-xs-12 col-sm-5 map-index hidden-xs">
        <div id="map"
        style= "width: 93%;
        height: 590px;"
        data-markers="<%= @markers.to_json %>"
        data-userimage="<%= image_path('black.png') %>"
        ></div>
      </div>
    </div>
  </div>
</div>
