<div class="container-results-main">
  <div class="container-results">

    <%= simple_form_for @item, url: items_path, remote: true, method: :get, html: { class: 'form-inline' } do |f| %>
      <%= f.error_notification %>

        <td class="select-form"><%= f.input :size, collection: @sizes, label: false, prompt: "Size" %></td>

        <td class="select-form"><%= f.input :buying_price, collection: @prices, label: false, prompt: "Buy price" %></td>

        <td class="select-form"><%= f.input :rental_price, collection: @prices, label: false, prompt: "Rent price" %></td>

        <td class="select-form"><%= f.input :color, collection: @colors, label: false, prompt: "Colour" %></td>

        <td class="select-form"><%= f.submit "Apply", id: "filter-button" %></td>
    <% end %>

  <!-- 1) Cards -->
    <div class="row">
      <div class="col-xs-12 col-sm-6" id="results">
        <%= render 'card_results', items: @items %>
      </div>
      <!-- 2) Map -->
      <div class="col-xs-12 col-sm-6 map-index">
        <div id="map" style="margin-left: 45px; width: 85%; height: 590px;" data-markers="<%= @markers.to_json %>"></div>
      </div>
    </div>
  </div>
</div>

