<div class="container-results-main">
  <div class="container-min-height" style="min-height: 700px">

    <%= form_tag items_path, remote: true, method: :get do %>
      <div class="custom-inline-form">
        <div class="size-button">
        <%= select_tag "size", options_for_select(@sizes), include_blank: "Size", input_html: {class: 'size-btn'} %>
        </div>

        <div class="size-button">
          <%= select_tag "buying_price_cents", options_for_select(@prices), include_blank: "Buy price", input_html: {class: 'filter-btn'} %>
        </div>

        <div class="size-button">
          <%= select_tag "rental_price_cents", options_for_select(@prices), include_blank: "Rent price", input_html: {class: 'filter-btn'} %>
        </div>

        <div class="size-button">
          <%= select_tag "color", options_for_select(@colors), include_blank: "Colour", input_html: {class: 'filter-btn'} %>
        </div>

        <div class="input-group-results">
          <%= text_field_tag 'start_date_search', as: :string, input_html: { id: "start_date_search" }, placeholder: "Choose dates" %>
        </div>

        <%= hidden_field_tag :query , "", id: "query-filter" %>
        <%= hidden_field_tag :place , "", id: "place-filter" %>

        <div class="item-results-submit-button">
          <%= submit_tag 'Apply', id: "filter-button" %>
        </div>

      </div>
    <% end %>

  <!-- 1) Cards -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div id="results">
          <%= render 'card_results', items: @items %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 map-index hidden-xs">
        <div id="map"
        style= "width: 93%;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-userimage="<%= image_path('blue.png') %>"
        ></div>

      </div>
    </div>
  </div>
</div>

<script>
  let query = document.getElementById('query').value
  let place = document.getElementById('place').value
  let queryFilter = document.getElementById('query-filter')
  let placeFilter = document.getElementById('place-filter')
  queryFilter.value = query
  placeFilter.value = place
</script>
<%= javascript_pack_tag "flatpickr" %>

<script>
  document.querySelector(".input-group-results").childNodes[2].placeholder = "Choose date range"
</script>
