<div class="container-item-show">

  <div class="card image-item-show-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @item.photo%>');">
  </div>

  <div class="item-description">
    <h1 class="new-header"><%= @item.name %></h1>
    <p class="p-new"> description </p>
    <p class="p-new"><%= @item.description %></p>
    <p class="p-new">Rental_price: <%= @item.rental_price %></p>
    <p class="p-new">Buying_price: <%= @item.buying_price %></p>
    <p class="p-new">Size: <%= @item.size %></p>
    <p>Available: <%= @item.availability %></p>
    <%= link_to 'back', items_path %> | <%= link_to 'delete', item_path(@item), method: :delete %> | <%= link_to 'book it', new_item_booking_path(@item) %>
  </div>
   <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
  </div>
</div>
