<div class="container-item-show">

  <div class="card image-item-show-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @item.photo%>');">
  </div>

  <div class="item-description">
    <h1><%= @item.name %></h1>
    <p> description </p>
    <p><%= @item.description %></p>
    <p>Rental_price: <%= @item.rental_price %></p>
    <p>Buying_price: <%= @item.buying_price %></p>
    <p>Size: <%= @item.size %></p>
    <p>Available: <%= @item.availability %></p>
    <%= link_to 'back', items_path %> | <%= link_to 'delete', item_path(@item), method: :delete %> | <%= link_to 'book it', items_path %>
  </div>

  <%= image_tag "map.png", class: "mapsize", height: 500, width: 300 %>

</div>
