
<div class="review-index-container">
	<div class="review-index-details-box">
		<div class="review-index-item-avatar-box">
			<%= cl_image_tag @item.photo, class: "review-index-item-avatar"%>
		</div>

    <% if @item.user == current_user || Booking.where(user: current_user, item: @item).length == 0 %>
    <% else %>
  		<div class="review-index-details">
  			<h3><%= @item.name %></h3>

  			<div class="review-index-overall-rating">
  				<h3>Overall Rating:
  				<% @item.average_rating.times do %>
  				<i class="fas fa-star icon-stars"></i>
  				<% end %>
  				</h3>
  			</div>

    			<div id="review_form">
    				<%= render "form", item: @item, review: @review %>
    			</div>
  		</div>
      <% end %>
	</div>

	<div class="review-index-ratings-box">
		<h3>Reviews for <%= @item.name %></h3>

		<div id="reviews_container">
			<%= render "reviews_container", reviews: @reviews %>
		</div>

	</div>
</div>






















