<div class="footer">
  <div class="footer-links">
    <div id="fl1">
      <%= link_to "About Us", about_path %>
      <%= link_to "How it Works", howworks_path %>
      <%= link_to "Getting Started", gettingstarted_path %>
      <%= link_to "FAQ", faq_path %>
    </div>

    <div id="fl2">
      <%= link_to "Our Partners", partners_path  %>
      <%= link_to "Careers", careers_path  %>
      <%= link_to "Sustanability" %>
      <%= link_to "Locations" %>
    </div>
  </div>


  <div class="footer-copyright">
      <p>UFO Brands - All Right Reserved</p>
  </div>

  <div id="fl3">
    <%= link_to "Terms of Service" %>
    <%= link_to "Privacy Policy" %>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

