<div class="navbar-ufo">
  <div class="navbar-logo-search">
  <!-- Logo -->
  <div class="ufo-logo">
  <%= link_to root_path, class: "navbar-ufo-brand" do %>
    <%= image_tag "ufologonew.png" %>
  <% end %>
  </div>

  <!-- Search -->
    <div class="navbar-search">
    <%# unless (params[:controller] == 'pages' && params[:action] == 'home') || devise_controller? %>
      <%= form_tag items_path, method: :get, class: "form-inline" do %>
      <div class="search-bar-in-nav">
        <div class="what--item">
          <%= text_field_tag :query, params[:query], class: "navbar-form-control" %>
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div>
          <%= text_field_tag :place, params[:place], class: "navbar-form-control" %>
          <div class="search-icon">
            <i class="fas fa-map-pin"></i>
          </div>
        </div>
      </div>
        <input type="hidden" name="location" value="<%= @location&.empty? ? 'London' : @location %>">
        <%= submit_tag :submit, class: "hidden" %>
      <% end %>
    </div>
      <div class= "clear-button">
        <% if @show_clear %>
          <%= link_to "X", items_path %>
        <% end %>
      </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-ufo-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Nearby Items", items_path, class: "navbar-ufo-item navbar-ufo-link" %>
      <%= link_to "Groups", "#", class: "navbar-ufo-item navbar-ufo-link" %>
      <%= link_to "Messages", conversations_path, class: "navbar-ufo-item navbar-ufo-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-ufo-item">
        <div class="dropdown">
          <% if current_user.photo?  %>
            <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-ufo-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "profile.png", class: "avatar dropdown-toggle", id: "navbar-ufo-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-ufo-dropdown-menu">
            <li>
              <%= link_to edit_user_path(current_user) do %>
              <i class="fas fa-user-alt"></i>  <%= t(".", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to user_bookings_path(current_user)  do %>
              <i class="fas fa-shopping-bag"></i> <%= t(".", default: "My Bookings") %>
              <% end %>
            </li>
            <li>
              <%= link_to user_listing_path do %>
              <i class="fas fa-box-open"></i> <%= t(".", default: "My Listings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out-alt"></i>  <%= t(".", default: "Log Out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div>
        <%= link_to "Nearby Items", items_path, class: "navbar-ufo-item navbar-ufo-link" %>
      </div>

      <div>
      <%= link_to "Groups", "#", class: "navbar-ufo-item navbar-ufo-link" %>
      </div>

      <div>
       <!-- Button trigger modal -->
      <div data-toggle="modal" data-target="#myModal2">
        <a class="navbar-ufo-item navbar-ufo-link">Log In</a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title login-title" id="myModalLabel">Log In</h4>
            </div>
            <div class="modal-body">

              <!--Log In Content -->
              <div class="login-container">
                <div>
                  <div class="login-box">

                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-inputs">
                        <%= f.input :email, required: false, autofocus: true, input_html: {class: "input-bar"} %>
                        <%= f.input :password, required: false, input_html: {class: "input-bar"} %>
                        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                      </div>

                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
                <div class="form-actions">
                  <input type="submit" name="commit" value="Log in" class="login-btn" data-disable-with="Log in">
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- Button trigger modal -->
      <div data-toggle="modal" data-target="#myModal">
        <a class="navbar-ufo-item navbar-ufo-link">Sign up</a>
      </div>
    <% end %>
  </div>




  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-ufo-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ufo-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Sign Up Modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title login-title" id="myModalLabel">Sign Up </h4>
      </div>
      <div class="modal-body">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="details-container">
          <div class="form-inputs">
            <div class="sign-up-edit-user-name-and-email">
              <%= f.input :first_name, input_html: {class: "input-bar"} %>
              <%= f.input :last_name, input_html: {class: "input-bar"} %>
            </div>
            <div class="sign-up-email-address">
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "input-bar"} %>
              <%= f.input :address, input_html: {class: "input-bar"} %>
              <ul id="autocomp"></ul>
            </div>
            <div class="sign-up-password">
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: {class: "input-bar"} %>
              <%= f.input :password_confirmation, required: true, input_html: {class: "input-bar"} %>
            </div>
            <div class="edit-user-name-and-email">
              <%= f.input :photo, input_html: { class: "input-bar" } %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>
        </div>
    </div>




      </div>
      <div class="modal-footer">
          <div class="form-actions">
          <input type="submit" name="commit" value="Sign up" class="login-btn" data-disable-with="Sign up">
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

